*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container{
  width: 550px;
}
nav{
  height: 55px;
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.fa-earth-asia{
  font-size: 24px;
  margin-right: 7px;
}
.card{
  margin-top: 45px;
  margin-left: 40px;
  width: 470px;
  display: flex;
  position: relative;
}
.card:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid rgba(245, 245, 245, 1);
  width: 100%;
  transform: translateX(-50%);
  bottom: -18px;
  left: 50%;
}
.card .img-card{
  width: 125px;
  height: 168px;
  border-radius: 5px;
}
.fa-location-dot{
  font-size: 7px;
  color: #F55A5A;
}
.location{
  letter-spacing: .2em;
  font-size: 10px;
  font-weight: 400;
  color: rgba(43, 40, 58, 1);
  margin-left: 4px;
}
.maps-url{
  color: rgb(145, 142, 155);
  font-size: 10px;
  margin-left: 12px;
}
.title{
  margin-top: 4px;
  font-size: 25px;
  font-weight: 700;
  color: rgba(43, 40, 58, 1);
}
.date{
  font-size: 10px;
  font-weight: 700;
  color: rgba(43, 40, 58, 1);
}
.description{
  font-size: 10px;
  font-weight: 400;
}
.card-content{
  margin-left: 19px;
}

